@import "../css/variables.css";

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html{
    height: 100%;
    width: 100vw;

}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23aca492' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}
h2{
    font-size: 2rem;
    color: var(--color-strong);            
    margin-bottom: 0.5rem;             
}
.wrapper {
    max-width: 1200px; 
    margin: 0 auto;    
    width: 100%;      
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

.welcome {
    background: linear-gradient(to right, var(--color-mid2), var(--color-light), var(--color-mid2));
    /* background-color: var(--color-light);  */
    padding: 2em;
    padding-block-end: 0;         
    display: flex;
    flex-direction: column;    
    gap: 3em;               
}

.welcome img{
    position: relative;
    width: 100%;
}

.welcome-content{
    position: absolute;
    max-width: 600px;              
}
.welcome-content h1{
    font-size: 4rem;
    color: var(--color-strong);            
    margin-bottom: 0.5rem;             
}

.welcome-content p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;          
}

.about { 
    padding: 2em;         
    display: flex;
    flex-direction: column;    
    gap: 3em;               
}

.about-content{
    max-width: 600px;              
}

.about-content p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;          
}

.container {
    padding: 20px;
    /* margin-right: 50%; */
}

.title {
    text-align: left;
    margin-bottom: 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--color-light);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-details{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.card-details-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-details-bottom span{
    font-size: 24px;
}

.card-details-bottom div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    background-color: var(--color-strong);
    border-radius: 50%;
}

.card:hover {
    transform: scale(1.03); 

    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
    cursor: pointer;
}

/* .card h3 {
    margin: 20px;
} */

/* .card p {
    margin: 20px;
} */

.image-container {
    position: relative;
    height: 200px;
}

.image-container img {
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container .favourite{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--color-light);
}
