@import "../css/variables.css";


.cat-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: fit-content;
    width: fit-content;
    margin-inline: 2em;
}

.cat-list .title{
    font-size: 40px;
    font-weight: 500;
    color: var(--color-strong);
}

.cat-list .cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    gap: 1em;
}

.cat-list .cats{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cat .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    background-color: var(--color-strong);
    border-radius: 50%;
}

.choice{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2em;
    margin: 2em;
}

.choice video{
    height: 500px;
    background-color: var(--color-light);
}

.choice .title{
    font-size: 40px;
    font-weight: 500;
    color: var(--color-strong);
}
